.home-layout {
  display: flex;
  min-height: 100vh;
  background: #f5f7fa;

  .main-content {
    flex: 1;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;

    .content-wrapper {
      margin-top: 70px;
      flex: 1;
    }
  }

  &.menu-collapsed {
    .main-content {
      margin-left: 60px;
    }

    app-top-header {
      ::ng-deep .top-header {
        left: 60px;
      }
    }
  }
}
